{% extends "layout.html" %}
{% block title %}
Iniciar Sesión
{% endblock %}
{% block content %}


<style media="screen">
	.card{
		margin-top: 160px !important;
		padding: 45px;
	}
	body {
		background: #d7d7d7 !important;
	}
</style>

<div class="container d-flex align-items-center flex-column">
	<div class="card col-md-6 col-lg-4 align-items-center">
		<form action="{{ url_for('iniciar_sesion') }}" method="post">
			<p>
				<input type="text" name="usuario">
			</p>
			<p>
				<input type="password" name="contrasena">
			</p>
			<input type="submit" value="Iniciar Sesión">
		</form>
	</div>
</div>
{% endblock %}
