<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">


		<title>{% block title %}{% endblock %}</title>

		<!-- Custom fonts for this theme -->
	  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

		<!-- Theme CSS -->
	  <link href="static/css/freelancer.min.css" rel="stylesheet">

	</head>
	<body id="page-top">

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="http://localhost:5000/#page-top">{% block company_name %}{% endblock %}</a>

				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="http://localhost:5000/#page-top">Inicio</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="http://localhost:5000/#productos_servicios">Productos y Servicios</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="http://localhost:5000/#about">Quienes Somos</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="http://localhost:5000/#contact">contacto</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="http://localhost:5000/py_admin">Admin</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{% block content %}
		{% endblock %}


	  <!-- Bootstrap core JavaScript -->
	  <script src="static/vendor/jquery/jquery.min.js"></script>
	  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

	  <!-- Contact Form JavaScript -->
	  <script src="static/js/jqBootstrapValidation.js"></script>
	  <script src="static/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="static/js/freelancer.min.js"></script>

	</body>
</html>
