{% extends "layout.html" %}
{% block title %}
Administrador
{% endblock %}
{% block content %}


<style media="screen">
	.card{
		margin-top: 160px !important;
		padding: 45px;
	}
	body {
		background: #d7d7d7 !important;
	}
</style>

<div class="container d-flex align-items-center flex-column">
	<div class="card col-md-10 col-lg-10 align-items-center">
		<form action="{{ url_for('py_admin') }}" method="POST">

			<div class="row">
				<p class="col-12 col-md-4">
					<label for="nombre" class="col-12">Nombre</label>
					<input type="text" name="nombre" value="{{nombre}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Slogan</label>
					<input type="text" name="slogan" value="{{slogan}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Foto Principal</label>
					<input type="text" name="foto_principal" value="{{foto_principal}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Descripción</label>
					<input type="text" name="descripcion" value="{{descripcion}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Facebook</label>
					<input type="text" name="facebook" value="{{facebook}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Twitter</label>
					<input type="text" name="twitter" value="{{twitter}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Instagram</label>
					<input type="text" name="instagram" value="{{instagram}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Color de Fondo (RGB)</label>
					<input type="text" name="color_fondo" value="{{color_fondo}}">
				</p>
				<p class="col-12 col-md-4">
				</p>


				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 1 titulo</label>
					<input type="text" name="pic_1_title" value="{{pic_1.titulo}}">
				</p>
				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 1 url imagen</label>
					<input type="text" name="pic_1_url" value="{{pic_1.url}}">
				</p>
				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 1 descripcion</label>
					<input type="text" name="pic_1_descripcion" value="{{pic_1.descripcion}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 2 titulo</label>
					<input type="text" name="pic_2_title" value="{{pic_2.titulo}}">
				</p>
				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 2 url imagen</label>
					<input type="text" name="pic_2_url" value="{{pic_2.url}}">
				</p>
				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 2 descripcion</label>
					<input type="text" name="pic_2_descripcion" value="{{pic_2.descripcion}}">
				</p>

				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 3 titulo</label>
					<input type="text" name="pic_3_title" value="{{pic_3.titulo}}">
				</p>
				<p class="col-12 col-md-4">
					<label for="slogan", class="col-12">Obra 3 url imagen</label>
						<input type="text" name="pic_3_url" value="{{pic_3.url}}">
					</p>
					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 3 descripcion</label>
						<input type="text" name="pic_3_descripcion" value="{{pic_3.descripcion}}">
					</p>

					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 4 titulo</label>
						<input type="text" name="pic_4_title" value="{{pic_4.titulo}}">
					</p>
					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 4 url imagen</label>
						<input type="text" name="pic_4_url" value="{{pic_4.url}}">
					</p>
					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 4 descripcion</label>
						<input type="text" name="pic_4_descripcion" value="{{pic_4.descripcion}}">
					</p>

					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 5 titulo</label>
						<input type="text" name="pic_5_title" value="{{pic_5.titulo}}">
					</p>
					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 5 url imagen</label>
						<input type="text" name="pic_5_url" value="{{pic_5.url}}">
					</p>
					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 5 descripcion</label>
						<input type="text" name="pic_5_descripcion" value="{{pic_5.descripcion}}">
					</p>

					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 6 titulo</label>
						<input type="text" name="pic_6_title" value="{{pic_6.titulo}}">
					</p>
					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 6 url imagen</label>
						<input type="text" name="pic_6_url" value="{{pic_6.url}}">
					</p>
					<p class="col-12 col-md-4">
						<label for="slogan", class="col-12">Obra 6 descripcion</label>
						<input type="text" name="pic_6_descripcion" value="{{pic_6.descripcion}}">
					</p>
			</div>

			<input type="submit" value="Guardar">
		</form>
	</div>
</div>
{% endblock %}
