{% extends "layout.html" %}
{% block titulo %}
Registrarse
{% endblock %}
{% block content %}

<style media="screen">
	body {
		background: #d7d7d7 !important;
	}
</style>

<div class="container d-flex align-items-center flex-column">
	<div class="card col-md-6 col-lg-4 align-items-center">
		<form action="{{ url_for('registrarse') }}" method="post">
			<p>
				<input type="text" name="usuario">
			</p>
			<p>
				<input type="password" name="contrasena">
			</p>
			<input type="submit" value="Registrarse">
		</form>
	</div>
</div>
{% endblock %}
